{% extends 'wazimap_base.html' %}
{% load staticfiles %}

{% block header_branding %}
    <!--<a href="http://www.mediamonitoringafrica.org/" target="_blank">-->
        <!--<img class="mma-logo" src="{% static 'img/mma.png' %}">-->
    <!--</a>-->
{% endblock header_branding %}

{% block footer_content %}
<div class="column-third">
    <h1>Useful links</h1>
    <ul class="ul-icon-list">
        <li>
            <a href="http://www.knbs.or.ke/" target="_blank">About WAZImap Kenya</a>
        </li>
        <li>
            <i class="fa fa-github"></i> <a href="https://github.com/CodeForAfrica/WAZImap.Kenya" target="_blank">Built on WAZImap</a>
        </li>
    </ul>
</div>

<div class="column-third">
    <h1>Social links</h1>
    <ul class="ul-icon-list">
        <li>
            <i class="fa fa-twitter"></i>
            <a href="https://twitter.com/Code4Africa">@WAZImapKenya</a>
        </li>
        <li>
            <i class="fa fa-facebook"></i>
            <a href="https://twitter.com/Code4Africa">WAZImap Kenya Facebook page</a>
        </li>
        <li>
            <i class="fa fa-github"></i>
            <a href="https://github.com/CodeForAfrica/WAZImap.Kenya">WAZImap Kenya on Github</a>
        </li>
        <li>
            <i class="fa fa-envelope"></i>
            <a href="mailto:hello@codeforkenya.org"></i> Email us</a>
        </li>
    </ul>
</div>

<div class="column-third" style="border-right:none;">
    <ul class="ul-icon-list">
        <li>A project by: </li>
        <li>
            <a href="https://codeforafrica.org/"><img src="{% static 'img/cfkenya-logo-white.png' %}" style="height: 100px;"></a>
            <br>
            <p style="height: 10px; display: inline-block;">Built on <a href="">Censusreporter.org</a></p>
        </li>
    </ul>
</div>
{% endblock footer_content %}
