{% extends 'wazimap_base.html' %}
{% load staticfiles %}

{% block header_branding %}
    <!--<a href="http://www.mediamonitoringafrica.org/" target="_blank">-->
        <!--<img class="mma-logo" src="{% static 'img/mma.png' %}">-->
    <!--</a>-->
{% endblock header_branding %}

{% block footer_content %}

<div class="column-half">
    <p>Wazimap, from the Xhosa word ulwazi for knowledge, is a joint project by Media Monitoring Africa and Code for South Africa that provides easy access to South African census and elections data. Read more about who we are and why we built Wazimap.</p>
    <span>A project by: </span> &nbsp; &nbsp;
    <a href="https://codeforafrica.org/"><img src="{% static 'img/cfkenya-logo-white.png' %}" style="height: 80px;"></a> &nbsp;  &nbsp;
    <span style="height: 10px; display: inline-block;">Built on <a href="">Censusreporter.org</a></span>
</div>

<div class="column-quarter">
    <span>Useful links</span>
    <ul class="ul-icon-list">
        <li>
            <a href="http://www.knbs.or.ke/" target="_blank">About WAZImap Kenya</a>
        </li>
        <li>
            <i class="fa fa-github"></i> <a href="https://github.com/CodeForAfrica/WAZImap.Kenya" target="_blank">Built on WAZImap</a>
        </li>
    </ul>
</div>

<div class="column-quarter">
    <span>Social links</span>
    <ul class="ul-icon-list">
        <li>
            <i class="fa fa-twitter"></i>
            <a href="https://twitter.com/Code4Africa">@WAZImapKenya</a>
        </li>
        <li>
            <i class="fa fa-facebook"></i>
            <a href="https://www.facebook.com/CodeForAfrica/">WAZImap Kenya Facebook page</a>
        </li>
        <li>
            <i class="fa fa-github"></i>
            <a href="https://github.com/CodeForAfrica/WAZImap.Kenya">WAZImap Kenya on Github</a>
        </li>
        <li>
            <i class="fa fa-envelope"></i>
            <a href="mailto:hello@codeforkenya.org"></i> Email us</a>
        </li>
    </ul>
</div>

{% endblock footer_content %}

{% block body_javascript_extra %}
    <script type="text/javascript">
    $('#geography-select').click(function() {
        $(this).val('')
    });
    </script>
{% endblock %}