{% extends '_base.html' %}{% load humanize partition staticfiles %}

{% block content_container %}

<div class="content-container clearfix">
    <section>
        <article class="clearfix wrapper">
            <h1 class="title">Topics</h1>
            <div class="snippet">
                The Census is a big subject and there's a lot to learn, but you don't have to learn it all at once.<br>
                Here's some help knowing the lay of the land.
                {{topics}}
            </div>
            <br clear="all">

            {% for key, values in topics %}
            <div class="column-half topics-topic">
                <i class="fa {{values.icon}}" aria-hidden="true"></i>
                <div class="topic-name">{{values.topic|title}}</div>
                <div class="topic-desc">{{values.desc}}</div>
                <div class="categories">
                    <span>Categories include:</span>
                    <ul>
                        {% for cat in values.profiles %}
                        <li>{{cat|title}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}

        </article>
    </section>
</div>

{% endblock content_container %}
