{% extends '_base.html' %}{% load humanize partition staticfiles %}

{% block content_container %}

<div class="content-container clearfix">
    <section>
        <article class="clearfix wrapper">
            <h1 class="title">Topics</h1>
            <div class="snippet">
                The Census is a big subject and there's a lot to learn, but you don't have to learn it all at once.<br>
                Here's some help knowing the lay of the land.
            </div>
            <br clear="all">

            <div class="column-half topics-topic">
                <i class="fa fa-users" aria-hidden="true"></i>
                <div class="topic-name">Census 2009</div>
                <div class="topic-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
                <div class="categories">
                    <span>Categories include:</span>
                    <ul>
                        <li>Demographics</li>
                        <li>Voter register</li>
                        <li>Source of water</li>
                        <li>Source of electricity</li>
                    </ul>
                </div>
            </div>

            <div class="column-half topics-topic">
                <i class="fa fa-medkit" aria-hidden="true"></i>
                <div class="topic-name">Health</div>
                <div class="topic-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
                <div class="categories">
                    <span>Categories include:</span>
                    <ul>
                        <li>Demographics</li>
                        <li>Voter register</li>
                        <li>Source of water</li>
                        <li>Source of electricity</li>
                    </ul>
                </div>
            </div>

            <div class="column-half topics-topic">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <div class="topic-name">Education</div>
                <div class="topic-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
                <div class="categories">
                    <span>Categories include:</span>
                    <ul>
                        <li>Demographics</li>
                        <li>Voter register</li>
                        <li>Source of water</li>
                        <li>Source of electricity</li>
                    </ul>
                </div>
            </div>

            <div class="column-half topics-topic">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <div class="topic-name">Employment</div>
                <div class="topic-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
                <div class="categories">
                    <span>Categories include:</span>
                    <ul>
                        <li>Demographics</li>
                        <li>Voter register</li>
                        <li>Source of water</li>
                        <li>Source of electricity</li>
                    </ul>
                </div>
            </div>
        </article>
    </section>
</div>

{% endblock content_container %}
